.titulo {
    text-align: center;
    background-color: black;
    color: white;
    border-radius:30px;
}

.sub_titulo {
    text-align: center;
}
.imagem {
    width: 300px;
    height: 200px;
    border: solid ;
}
